.input {
  width: 600px;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  border-color: palevioletred;
}
.achieve {
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.navbar {

display: flex;
background-color: palevioletred;
color: white;
justify-content: space-around;
padding: 40px 40px;
font-size: 20px;
}

#profile {
  height: 300px;
  width: 250px;
}
.mentor {
  padding-left: 600px;
}
a{
    text-decoration: none;
    color: black;
}

